<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Affordable and professional web design">
        <meta name="keywords" content="web design, affordable web design, professional"
        <meta name="author" content="Jessica C">
        <title>My Web Design | Welcome </title>
        <link rel="stylesheet" href="./css/style.css">
    </html>
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1> Web Design</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="showcase">
            <div class="container">
            <h1> Affordable Professional Web Design</h1>
            <p>A random paragraph</p>
            </div>
        </section>

        
            <section id="newsletter">
                <div class="container">
                    <h1>Subscribe To Our Newsletter</h1>
                    <form>
                        <input type="email" placeholder="Enter Email...">
                        <button type="submit" class="button_1">Subscribe</button>
                    </form>
                </div>
            </section>

            <section id="boxes">
                <div class="container">
                    <div class="box">
                        <h3>HTML5 Markup</h3>
                        <p>Random paragraph insert here</p>
                    </div>
                    <div class="box">
                        <h3>CSS3 Styling</h3>
                        <p>Random paragraph insert here</p>
                        <div class="box">
                            <h3>Graphic Desgin</h3>
                            <p>Random paragraph insert here</p>
                        </div>
                    </div>
                </div>
            </section>


            

        </section>


    </body>

</html>
